.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form {
  background-color: #191b24;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  text-align: center;
  color:#f1f2e8;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #6c6b85;
  border-radius: 3px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #201f1f;
  color: #f1f2e8;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #65526b;
}

.login-form .input-container {
  margin-bottom: 15px;
}

.aside-bar{
  width: 100px;
  background-color: #422a43;

}

h2{
  /*color:#363b48;*/
  color: var(--primary);
  font-size: 40px;
  padding: 5%;
}
.h3-info-mesa{
  color:var(--primary);
  font-size: 25px;
  padding: 5%;
}
/********************************************************************************/
:root{
  --primary:#46526E;
  --secondary:#29776F;
  --terciary: #F7F2E7;
  --other-color1: #d5c2c6;
  --other-color2: #e4b9c2;
}
body {
  /*#6c6b85, #737664, #65526b, #422A43*/
  background-color: var(--primary);
  font-family: Arial, sans-serif;
}
.navbar-dark {
  /*#65526b*/
  background-color: var(--secondary);
}
.nav-link{
  color: var(--terciary);
}
.nav-link:hover{
  color: var(--other-color1);
}

.container-menu1{
  /*#512DA8,#737664*/
  background-color: var(--secondary);
  width: 100%;
}




/* Cards styles*/
.bg-card{
  color:#363b48;
  background-color: var(--terciary);
}
.card-inputs{
  /*#EDEB9A*/
  color:#363b48;
  background-color: var(--other-color1);
  border: 1px solid var(--other-color2);
  text-align: center;
}
.card-inputs:active, .card-inputs:hover{
  background-color: var(--other-color2);
}
.other-card-inputs{
  background-color: var(--secondary);
}
.other-card-inputs2{
  text-align: center;
  background-color: var(--other-color2);
}
.card-margen{
  margin-bottom: 10px;
  margin-top: 5px;

}
.centered{
  text-align: center;
}
/* Info mesas styles*/
.link-sin-linea {
  text-decoration: none;
}
